html {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
    background-color: #308C60;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
    color: #F59543;
	font-family: 'Acme', sans-serif;
}

.background {
	position: relative;
	max-height: 45%;
	max-width: 70%;
	border: solid;
	border-width: 5px;
	border-radius: 3px;
    border-color: black;
