html {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url(../ccc/hpbg.pngn);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	background-color: #E88C4A;
	}

img {
	max-height: 45%;
	max-width: 70%;
	border: solid;
	border-width: 5px;
	border-radius: 3px;
}

h1,h2 {
	color: #F59543;
	font-family: 'Acme', sans-serif;
}