html {
	text-align: center;
	margin: 0px;
	padding: 0px;
	/* background-color: #a06767; */
	background-color: #74EBD5;
	background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);



	height: 100%;
	color: #000000;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

img {
	max-height: 45%;
	max-width: 70%;
	border: solid;
	border-width: 5px;
	border-radius: 3px;
}

h1,h2 {
	color: #1C2E4A;
	font-family: 'Acme', sans-serif;
}

h3{
	text-decoration: underline;
}

#intro-nav {
	display: flex;
	justify-content: space-between;
	margin-left: 25vw;
	margin-right: 25vw;
}

button {
	margin: auto;
	color: #519BF5;
	background-color:#F0EAD6;
	font-family: 'Acme', sans-serif;
	padding: 1vw;
	border-radius: 5px;
	border: none;
}

button:hover {
	color: #F0EAD6;
	background-color: #519BF5;
	border: none;
	box-shadow:  5px 10px 8px #888;
}

#info-text {
	border: 3px solid #000000;
	background-color: aliceblue;
	margin-top: 2vh;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 5px;
	font-family: 'Poppins', sans-serif;
}