html {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
    background-color: #2669BF;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

h1,h2 {
	color: #F59543;
	font-family: 'Acme', sans-serif;
}

#level-status {
	display: flex;
	justify-content: space-between;
	margin-left: 10vw;
	margin-right: 10vw;
}

#response {
	border: 2px solid #000000;
	background-color: aliceblue;
	margin-top: 1vh;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 3px;
}

.background {
	position: relative;
	max-height: 50%;
	max-width: 80%;
	border: solid;
	border-width: 5px;
	border-radius: 3px;
}

.cleo {
	position: absolute;
	margin: 0;
	max-width: 10%;
}

@media only screen and (max-width: 600px) {
	.cleo {
		position: absolute;
		margin: 0;
		max-width: 15%;
	}

	h1,h2 {
		font-size: 16px;
		color: #F59543;
		font-family: 'Acme', sans-serif;
	}
}