html {
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 100%;
    background-color: #308C60;
}

body {
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
    color: #F59543;
	font-family: 'Acme', sans-serif;
}

.background {
	position: relative;
	max-height: 45%;
	max-width: 70%;
	border: solid;
	border-width: 5px;
	border-radius: 3px;
    border-color: black;
}

#go-home {
	margin-top: 2vh;
	color: #F2D16D;
	background-color: #316FF5;
	font-family: 'Acme', sans-serif;
	padding: 1vw;
	border-radius: 5px;
	border: 2px solid #000;
}

#go-home:hover {
	color: #316FF5;
	background-color: #F0EAD6;
	border: none;
	box-shadow:  5px 10px 8px #000;
}
